body {
  margin: 0;
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

header {
  background-color: #f6f6f6;
  border-right: 3px solid #b5b5b5;
  width: 15%;
  top: 0;
  left: 0;
  bottom: 0;
}
header div {
  border-bottom: 2px solid #d1d1d1;
  padding: 20px;
}
header div h2 {
  margin: 0;
  color: #494543;
}
header nav {
  list-style: none;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
header nav a {
  display: flex;
  align-items: center;
  transition: 0.15s;
  color: #808080;
  text-decoration: none;
  height: 55px;
}
header nav a:hover {
  color: white;
  background-color: #c32056;
}
header nav a:hover #gray {
  display: none;
}
header nav a:hover #white {
  display: block;
}
header nav a #gray {
  width: 20px;
  padding: 20px;
}
header nav a #white {
  width: 20px;
  padding: 20px;
  display: none;
}

#dashboard {
  margin-left: 2%;
  margin-right: 2%;
  width: 90%;
}
#dashboard > h2 {
  margin-top: 20px;
  margin-bottom: 80px;
  color: #494543;
}
#dashboard div.panelRow1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}
#dashboard div.panelRow1 div.panelItem {
  background-color: #f6f6f6;
  border-left: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  border-right: 3px solid #b5b5b5;
  border-bottom: 3px solid #b5b5b5;
  color: #494543;
  padding: 30px;
}
#dashboard div.panelRow1 div.panelItem div.upperPart {
  display: flex;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 20px;
  justify-content: space-between;
}
#dashboard div.panelRow1 div.panelItem div.upperPart > img {
  position: relative;
  top: -50px;
  padding: 15px;
  width: 35px;
  height: 35px;
}
#dashboard div.panelRow1 div.panelItem div.upperPart #values {
  display: grid;
  grid-template-rows: 1rf 1rf;
  text-align: right;
}
#dashboard div.panelRow1 div.panelItem div.upperPart #values > div {
  font-size: 1.5em;
}
#dashboard div.panelRow1 div.panelItem div.upperPart #usedSpace {
  background-color: #448b00;
}
#dashboard div.panelRow1 div.panelItem div.upperPart #revenue {
  background-color: #d89e24;
}
#dashboard div.panelRow1 div.panelItem div.upperPart #fixedIssues {
  background-color: #274d97;
}
#dashboard div.panelRow1 div.panelItem div.upperPart #followers {
  background-color: #c32056;
}
#dashboard div.panelRow1 div.panelItem div.message {
  display: flex;
  align-items: center;
  color: #9c9899;
  gap: 10px;
}
#dashboard div.panelRow2 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
#dashboard div.panelRow2 div.panelItem {
  background-color: #f6f6f6;
  border-left: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  border-right: 3px solid #b5b5b5;
  border-bottom: 3px solid #b5b5b5;
  padding: 30px;
}
#dashboard div.panelRow2 div.panelItem div.upperPart {
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 20px;
}
#dashboard div.panelRow2 div.panelItem div.upperPart > img {
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: -50px;
  padding: 15px;
}
#dashboard div.panelRow2 div.panelItem div.upperPart div.values {
  display: grid;
  grid-template-rows: 1rf 1rf;
  margin-top: -40px;
  color: #494543;
}
#dashboard div.panelRow2 div.panelItem div.upperPart div.values > div {
  font-size: 1.5em;
}
#dashboard div.panelRow2 div.panelItem div.upperPart div.values > span {
  margin-bottom: 20px;
}
#dashboard div.panelRow2 div.panelItem #dailySales {
  background-color: #448b00;
}
#dashboard div.panelRow2 div.panelItem #emailSubscriptions {
  background-color: #d89e24;
}
#dashboard div.panelRow2 div.panelItem #completedTasks {
  background-color: #274d97;
}
#dashboard div.panelRow2 div.panelItem div.message {
  display: flex;
  align-items: center;
  color: #9c9899;
  gap: 10px;
}
#dashboard div.panelRow3 {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
#dashboard div.panelRow3 div.panelItem {
  background-color: #f6f6f6;
  border-left: 1px solid #d1d1d1;
  border-top: 1px solid #d1d1d1;
  border-right: 3px solid #b5b5b5;
  border-bottom: 3px solid #b5b5b5;
  padding: 30px;
}
#dashboard div.panelRow3 div.panelItem div.headerPart1 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #d89e24;
  border-right: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 20px;
  position: relative;
  top: -50px;
  padding: 15px;
  color: white;
}
#dashboard div.panelRow3 div.panelItem div.headerPart1 > a {
  display: flex;
  align-self: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: 0.5s;
}
#dashboard div.panelRow3 div.panelItem div.headerPart1 > a:hover {
  background-color: #dead49;
}
#dashboard div.panelRow3 div.panelItem > ul {
  margin-top: -40px;
  list-style: none;
  width: 100%;
}
#dashboard div.panelRow3 div.panelItem > ul > li {
  margin: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin-left: -40px;
  margin-right: 40px;
  border-bottom: 1px solid #d1d1d1;
}
#dashboard div.panelRow3 div.panelItem > ul > li:last-child {
  border-bottom: none;
}
#dashboard div.panelRow3 div.panelItem > ul > li > input {
  margin-left: 10px;
}
#dashboard div.panelRow3 div.panelItem > ul > li > span {
  text-wrap: wrap;
  width: 70%;
}
#dashboard div.panelRow3 div.panelItem > ul > li > div > img {
  margin: 10px;
  width: 20px;
}
#dashboard div.panelRow3 div.panelItem div.headerPart2 {
  background-color: #274d97;
  border-right: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 20px;
  position: relative;
  top: -50px;
  padding: 15px;
  color: white;
}
#dashboard div.panelRow3 div.panelItem div.headerPart2 > div {
  font-size: 1.2em;
  margin-bottom: 20px;
}
#dashboard div.panelRow3 div.panelItem > ul.table > li {
  align-items: flex-start;
}
#dashboard div.panelRow3 div.panelItem > ul.table > li > div {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
#dashboard div.panelRow3 div.panelItem > ul.table > li > div:first-child {
  width: 1%;
}
#dashboard div.panelRow3 div.panelItem > ul.table > li > div:nth-child(2) {
  width: 40%;
}
#dashboard div.panelRow3 div.panelItem > ul.table > li > div:nth-child(3) {
  width: 25%;
}
#dashboard div.panelRow3 div.panelItem > ul.table > li > div:last-child {
  width: 25%;
}
#dashboard div.panelRow3 div.panelItem > ul.table > li:first-child {
  color: #31af91;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */